//$blue : red;
//#343434
//#FF8542

//orange schema
//blank #FF8542
//dark
//light

//dark schema
//blank
//dark
//light #343434
$customprimary : #b1c5ad;
$customdark : #b6ec8d;
$customlight : #1c1c1c;

$primary : $customprimary;

$light : $customlight;

$dark : $customdark;

$secondary : #f0f0f0;

