@import "./variables";


*{
    font-family: 'Roboto Slab', serif !important;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
    overflow:hidden;
}

html{
    background: $light;
}
p{
    color:$primary;
}

#namediv{
    
}

#name{
    //text-shadow: 3px 3px 1px black;
    color: $secondary;
    transition: color 200ms linear;
    //transition: text-shadow 500ms linear, color 500ms linear;
}

#name:hover{
    color: $secondary;
    //text-shadow: 5px 5px 1px black;
    //text-shadow: 5px 5px 10px $primary;
}

.blockheader{
    //font-variant: small-caps;
    color:$primary;
    font-size: 7rem;
    //text-shadow: 2px 2px 1px $dark;
}

.social_icon{
    color:$primary;
    box-shadow: 5px 5px 1px black;
    transition: box-shadow 400ms ease-out 10ms, 
}
.social_icon:hover{
    color:$secondary !important;
    box-shadow: 7px 7px 3px $dark;
}
.social{
    color:$primary;
    transition: color 400ms ease-out 10ms;
}
.social:hover{
    color:$secondary;
}


.eht{
    font-variant: small-caps;
    color: $dark;
    font-weight: bold;
    text-shadow: 2px 2px 1px black;
}

.rht{
    color: $dark;
    font-weight: 100;
    //text-shadow: 2px 2px 1px $primary;
}

@media only screen and (max-width: 420px){
    .blockheader{
        font-size: 4em;
    }
    #devtag{
        font-size:0.7em !important;
    }
    #studenttag{
        font-size:0.5em !important;
    }
    #biodiv{
        padding-top: 7vh !important;
        padding-bottom: 10vh !important;
    }
    #projectsdiv{
        padding-top: 10vh !important;
    }
}

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
