@import "./variables";


*{
    font-family: 'Roboto Slab', serif !important;
}

html{
    background: $light;
}

#namediv{
    
}

#name{
    text-shadow: 5px 5px 1px black;
}

.social_icon{
    box-shadow: 5px 5px 1px black;
}
.eht{
    color: $primary;
    font-weight: bold;
    text-shadow: 2px 2px 1px black;
}

.rht{
    color: black;
    font-weight: 100;
    //text-shadow: 2px 2px 1px $primary;
}

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
